
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

/* Basic */

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #fff;
}

bodybody[data-menu="open"] {
  overflow: hidden;
}

.row-fluid [class*="span"] {
  min-height: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  line-height: 1.2em;
  font-family: Oxygen,sans-serif;
  font-weight: 300;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 26px;
  color: #f70;
}

h3 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 18px;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #f70;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  width: 66px;
  height: 4px;
  margin: 0 auto 60px auto;
  background-color: #ccc;
  border: none;
}

@media (min-width: 768px) {
  hr {
    margin: 0 auto 100px auto;
  }
}

ul {
  padding-left: 30px;
  margin-bottom: 30px;
  list-style: none;
}

ul:last-child {
  margin-bottom: 0;
}

ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li:before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 5px;
  height: 5px;
  content: '';
  background-color: #f70;
  border-radius: 50%;
}

ol {
  padding-left: 45px;
  margin-bottom: 30px;
}

ol:last-child {
  margin-bottom: 0;
}

ol li {
  padding-left: 5px;
  margin-bottom: 10px;
}

ol li:last-child {
  margin-bottom: 0;
}

label {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 5px;
}

fieldset {
  max-width: none !important;
}

.hs-form-field {
  margin-bottom: 20px;
}

.hs-form-required {
  margin-left: 3px;
  color: #f70;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
textarea,
select {
  display: inline-block;
  vertical-align: middle;
  width: 100% !important;
  line-height: 20px;
  padding: 4px 6px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

form.hs-form .hs-form-field ul.inputs-list {
 padding: 0;
 margin: 0;
}

form.hs-form .hs-form-field ul.inputs-list li {
  padding: 0;
}

form.hs-form .hs-form-field ul.inputs-list li:before {
  display: none;
}

.hs-button.primary,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 12px;
  margin: 15px 0 0;
  line-height: 20px;
  text-align: center;
  text-decoration: none !important;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.hs-button.primary:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}

.hs-error-msgs label {
  display: inline-block;
  padding: 8px;
  margin: 10px 8px 0 0;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  background: #000;
  border-radius: 6px;
}

/* Body Container */

.body-container-wrapper {
  position: relative;
  left: 0;
  min-height: calc(100% - (189px + 500px));
  padding-top: 60px;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

@media (min-width: 768px) {
  .body-container-wrapper {
    min-height: calc(100% - (470px + 445px));
    padding-top: 100px;
  }
}

body[data-menu="open"] .body-container-wrapper {
  left: calc(70px - 100%);
}

.body-container-wrapper .row-fluid {
  width: 100%;
  max-width: 850px;
  padding: 0 25px;
  margin: 0 auto;
}

.body-container-wrapper .hs_cos_wrapper_widget {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .body-container-wrapper .hs_cos_wrapper_widget {
    margin-bottom: 100px;
  }
}

/* Footer Container */

.footer-container-wrapper {
  position: relative;
  left: 0;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

body[data-menu="open"] .footer-container-wrapper {
  left: calc(70px - 100%);
}

/* Header Module */

#header {
  overflow: hidden;
}

@media (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    padding: 30px;
    font-size: 0;
    transition: background 0.5s;
    z-index: 2;
  }

  #header[data-opaque="true"] {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
}

#header .logo {
  position: relative;
  display: block;
  float: left;
  left: 0;
  width: calc(100% - 70px);
  height: 70px;
  background-color: #fff;
  background-image: url(https://cdn2.hubspot.net/hubfs/3394151/AlexTom%20Theme/header-logo-dark.png);
  background-size: 120px 23px;
  background-repeat: no-repeat;
  background-position: 25px center;
  transition: left 0.5s ease-in-out, background-image 0.5s;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ccc;
  z-index: 1;
}

body[data-menu="open"] #header .logo {
  left: calc(70px - 100%);
}

@media (min-width: 768px) {
  #header .logo {
    width: 120px;
    height: 23px;
    margin-left: 0;
    background-color: transparent;
    background-position: center;
    transition: none;
    border: none;
  }

  #header[data-theme="light"][data-opaque="false"] .logo {
    background-image: url(https://cdn2.hubspot.net/hubfs/3394151/AlexTom%20Theme/header-logo-light.png);
  }
}

#header .menu-button {
  position: relative;
  left: 0;
  width: 70px;
  height: 70px;
  float: right;
  background: #fff;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  z-index: 1;
  transition: left 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

body[data-menu="open"] #header .menu-button {
  left: calc(70px - 100%);
  background: #f70;
}

@media (min-width: 768px) {
  #header .menu-button {
    display: none;
  }
}

#header .menu-button div {
  position: absolute;
  left: 19px;
  height: 4px;
  width: 31px;
  background-color: #ccc;
  opacity: 1;
  transform-origin: left center;
  transform: rotate(0deg);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, background-color 0.5s ease-in-out;
}

body[data-menu="open"] #header .menu-button div {
  background-color: #fff;
}

#header .menu-button div:first-child {
  top: 20px;
}

body[data-menu="open"] #header .menu-button div:first-child {
  top: 23px;
  left: 24px;
  transform: rotate(45deg);
}

#header .menu-button div:nth-child(2) {
  top: 32px;
}

body[data-menu="open"] #header .menu-button div:nth-child(2) {
  opacity: 0;
}

#header .menu-button div:last-child {
  top: 44px;
}

body[data-menu="open"] #header .menu-button div:last-child {
  top: 45px;
  left: 24px;
  transform: rotate(-45deg);
}

#header .hs-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 70px);
  height: 100%;
  z-index: 0;
}

@media (min-width: 768px) {
  #header .hs-menu-wrapper {
    display: block;
    position: static;
    float: left;
    width: auto;
  }
}

#header .hs-menu-wrapper ul {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  #header .hs-menu-wrapper ul {
    display: block;
    float: left;
    width: auto;
    background: transparent;
  }
}

#header .hs-menu-wrapper li {
  display: table-row;
  padding-left: 0;
}

@media (min-width: 768px) {
  #header .hs-menu-wrapper li {
    display: block;
    float: left;
    padding-top: 7px;
    margin-left: 40px;
  }
}

@media (min-width: 1024px) {
  #header .hs-menu-wrapper li {
    margin-left: 55px;
  }
}

#header .hs-menu-wrapper li:before {
  display: none;
}

#header .hs-menu-wrapper a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #1a1a1a;
  border-bottom: 1px solid #ccc;
}

#header .hs-menu-wrapper a:focus,
#header .hs-menu-wrapper a:hover {
  text-decoration: underline;
}

#header .hs-menu-wrapper li:last-child a {
  border: none;
}

@media (min-width: 768px) {
  #header .hs-menu-wrapper a {
    display: block;
    float: left;
    padding: 0;
    font-size: 16px;
    border: none;
    transition: color 0.5s;
  }

  #header[data-theme="light"][data-opaque="false"] .hs-menu-wrapper a {
    color: #dfdfdf;
  }
}

#stage {
  position: relative;
  left: 0;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: left 0.5s ease-in-out;
}

body[data-menu="open"] #stage {
  left: calc(70px - 100%);
}

@media (max-width: 767px) {
  #stage {
    background-image: none !important;
  }
}

@media (min-width: 768px) {
  #stage {
    height: 470px;
  }
}

#stage h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.2em;
  font-family: Oxygen,sans-serif;
  font-weight: 300;
  color: #000;
}

@media (max-width: 767px) {
  #stage h1 {
    padding: 40px 25px;
    color: #f70;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 768px) {
  #stage h1 {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 300px;
    font-size: 44px;
    transform: translateY(-50%);
  }

  #stage[data-theme="light"] h1 {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  #stage h1 {
    left: 160px;
    width: auto;
    font-size: 60px;
  }
}

@media (min-width: 1500px) {
  #stage h1 {
    left: 250px;
  }
}

/* Footer Module */

#footer {
  min-height: 500px;
  background-color: #2d2d2d;
}

@media (min-width: 768px) {
  #footer {
    min-height: 445px;
  }
}

#footer .lock {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #footer .lock {
    overflow: hidden;
    max-width: 700px;
    padding: 50px 0;
  }
}

@media (min-width: 768px) {
  #footer .lock > * {
    float: left;
  }

  #footer .left {
    padding-right: 75px;
    margin-right: 75px;
    border-right: 3px solid #5e5d5f;
  }
}

#footer .title {
  margin-bottom: 20px;
  line-height: 1em;
  font-size: 32px;
  font-weight: 300;
  color: #ccc;
}

@media (min-width: 768px) {
  #footer .title {
    font-size: 45px;
  }
}

#footer .social {
  overflow: hidden;
  margin-bottom: 20px;
}

#footer .social a {
  display: block;
  float: left;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  color: #2d2d2d;
  background-color: #ccc;
}

#footer .copyright {
  margin-bottom: 20px;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ccc;
}

@media (min-width: 768px) {
  #footer .copyright {
    display: inline-block;
    vertical-align: bottom;
  }
}

#footer .hs-menu-wrapper {
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 0;
}

@media (min-width: 768px) {
  #footer .hs-menu-wrapper {
    display: inline-block;
    vertical-align: bottom;
  }
}

#footer .hs-menu-wrapper ul {
  padding: 0;
  margin: 0;
}

#footer .hs-menu-wrapper li {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  #footer .hs-menu-wrapper li {
    width: auto;
    margin-left: 12px;
  }
}

#footer .hs-menu-wrapper li:before {
  display: none;
}

#footer .hs-menu-wrapper a {
  font-family: Oxygen, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#footer .logo {
  display: block;
  margin-bottom: 24px;
  width: 142px;
  height: 28px;
  background-image: url(https://cdn2.hubspot.net/hubfs/3394151/AlexTom%20Theme/footer-logo-light.png);
  background-size: 142px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

#footer address {
  margin-bottom: 30px;
  font-style: normal;
  color: #dfdfdf;
}

#footer .phone,
#footer .email {
  display: block;
  color: #dfdfdf;
}

#footer .phone {
  margin-bottom: 5px;
}

/* Hubspot Tools Menu */

.hs-tools-menu ul li:before {
  display: none;
}
