/* BUTTONS */
button {
  background-color: #F79C31;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

button a,
button span {
  color: #000000;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 23px;
}

button[type='submit'] {
  background-color: #000;
}

button[type='submit'] span {
  color: #fff;
}

button:hover span {
  text-decoration: underline;
}

@media( max-width: 768px ) {

  button a {
    padding: 15px 20px;
  }

}

.lock {
  width: 84%;
  margin: 0 auto;
}

@media( max-width: 768px ) {

  .lock {
      padding: 0 25px;
      width: 100%;
  }

}

a[class*="icon"]:before {
  content : "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

li[class*="icon-utl"] + li,
li[class*="icon-utl"] {
  color: #ffffff;
  display: inline-block;
  padding-left: 0;
}

li[class*="icon-utl"] + li:before,
li[class*="icon-utl"]:before {
  background-color: transparent;
  border-radius: 0px;
  width: 0;
  height: 0;
}

li[class*="icon-utl"] a:after,
li[class*="icon-utl"] span:after {
  width: 25px;
  height: 25px;
  top: 5px;
  margin-left: 15px;
  position: relative;
  content : "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

@media( max-width: 960px ) {

  li[class*="icon-utl"] a:after,
  li[class*="icon-utl"] span:after {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
  }

}

.icon-return-home:before {
  background-image: url(../images/icons/homeblack.svg);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon-utl-home a:after, .icon-utl-home span:after {
  background-image: url(../images/icons/homeicon.svg);
}

.icon-utl-filter a:after, .icon-utl-filter span:after {
  background-image: url(../images/icons/filtericon.svg);
}

.icon-utl-posts a:after, .icon-utl-posts span:after {
  background-image: url(../images/icons/allposticon.svg);
}

.icon-utl-tags a:after, .icon-utl-tags span:after {
  background-image: url(../images/icons/tagicon.svg);
}

.icon-utl-search a:after, .icon-utl-search span:after {
  background-image: url(../images/icons/searchicon.svg);
}


.icon-utl-home span[data-state='open']:after {
  background-image: url(../images/icons/homeicon-active.svg);
}

.icon-utl-filter span[data-state='open']:after {
  background-image: url(../images/icons/filtericon-active.svg);
}

.icon-utl-posts span[data-state='open']:after {
  background-image: url(../images/icons/allposticon-active.svg);
}

.icon-utl-tags span[data-state='open']:after {
  background-image: url(../images/icons/tagicon-active.svg);
}

.icon-utl-search span[data-state='open']:after {
  background-image: url(../images/icons/searchicon-active.svg);
}

a[class*="icon-soc"] {
  display: inline-block;
  margin-right: 15px;

}

a[class*="icon-soc"]:before {
  display: block;
  width: 30px;
  height: 30px;
}

.icon-soc-facebook:before {
  background-image: url(../images/icons/facebookwhite.svg);
}

.icon-soc-twitter:before {
  background-image: url(../images/icons/twitterwhite.svg);
}

.icon-soc-linkedin:before {
  background-image: url(../images/icons/linkedinwhite.svg);
}

.icon-soc-instagram:before {
  background-image: url(../images/icons/instagramwhite.svg);
}

#header {
  z-index: 4;
}

#stage {
  z-index: 3;
}

#utilities {
  z-index: 2;
}

@media( max-width: 768px ) {
  #header {
    z-index: 4;
  }
  #stage {
    z-index: 0;
  }
}

body #header,
body #stage,
body #utilities,
body #header .logo,
body #header .menu-button,
body .body-container-wrapper,
body .footer-container-wrapper {
  left: auto;
  right: 0;
  transition: right 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

body[data-menu="open"] #header,
body[data-menu="open"] #stage,
body[data-menu="open"] #utilities,
body[data-menu="open"] #header .logo,
body[data-menu="open"] #header .menu-button,
body[data-menu="open"] .body-container-wrapper,
body[data-menu="open"] .footer-container-wrapper {
  left: auto;
  right: 0;
  right: calc(70px - 100%);
}

@media( max-width: 768px ) {

  #at-blog #header .logo {
    float: right;
    background-position: 10px;
  }

}

@media( min-width: 769px ) {

  body #header .logo {
    float: left;
  }

}
/* HEADER */

#at-blog #header.static {
  position: absolute;
}

#at-blog #header[data-theme='dark'] {
  background-color: transparent;
  border-bottom: none;
}

#at-blog #header[data-theme='light']{
  background-color: #2d2d2d;
  height: 95px;
}

@media( max-width: 768px ) {

  #at-blog #header[data-theme='light'] {
    height: 70px;
  }

}

#at-blog #header .logo {
  background-image: url(../images/at-blog-logo.svg);
  background-size: contain;
  width: 125px;
  height: 45px;
  top: -5px;
}

#header .menu-button {
  background-color: #2d2d2d;
}

#at-blog #header .hs-menu-wrapper a {
  color: #ffffff;
}

@media(max-width: 768px) {
  #at-blog #header.static{
    width: 100%;
    position: static;
  }

  #at-blog #header .logo {
    height: 70px;
    width: calc(100% - 70px);
    background-size: 125px 45px;
    top: 0;
    background-color: #2d2d2d;
  }

  #at-blog #header[data-theme='dark'] .logo {
    top: 0px;
  }

  #at-blog #header .hs-menu-wrapper a {
    color: #1a1a1a;
  }

  #at-blog #header .menu-button,
  #at-blog #header .logo{
    border: none;
  }

  #at-blog #header[data-theme='dark'] .menu-button,
  #at-blog #header[data-theme='dark'] .logo {
    background-color: transparent;

  }

  #at-blog[data-menu='open'] #header[data-theme='dark'] .menu-button {
    background-color: #f70;
  }

}

#at-blog .hs-menu-wrapper {
  right: auto;
  left: 0;
}

/* STAGE */

#stage {
  background-color: #000000;
}

#at-blog #stage:before {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/landing-page-bg.png);
  opacity: 0.85;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#stage .lock {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media ( min-width: 768px ) {

  #stage {
    height: 550px;
  }

  #stage .lock {
    top: 50%;
    transform: translateY(-43%);
    width: 84%;
  }

}

@media ( max-width: 768px ) {

  #at-blog #stage {
    height: calc( 480px );
  }

  #at-blog #header[data-theme='dark'] ~ #stage,
  #at-blog #header[data-theme='dark'] ~ .utility-container-wrapper {
    margin-top: -70px;
  }

  #at-blog #stage:before {
    background-size: auto 480px;
  }

  #at-blog #header[data-theme='dark'] ~ #stage .lock {
    top: 130px;
  }

  #at-blog #header[data-theme='light'] ~ #stage .lock {
    top: 40px;
  }

}

#stage ul {
  padding-left: 0;
  margin-bottom: 5px;
}

#stage li {
  padding-left: 0;
  padding-right: 7px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0;
}

#stage h1 {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 80px;
  font-size: 70px;
  margin-bottom: 35px;
  width: auto;
}

@media( min-width: 1480px ) {
  #stage h1 {
    padding-right: 30%;
  }
}

#header[data-theme='dark'] ~ #stage h1 {
  color: #ffffff;
}

#header[data-theme='light'] ~ #stage h1 {
  font-size: 50px;
  line-height: 58px;
}

#header[data-theme='light'] ~ #stage a {
  color: #000000;
  font-size: 20px;
  font-style: italic;
  margin-top: 70px;
  margin-bottom: 30px;
  display: block;
}

@media( max-width: 1024px ) {

  #stage h1 {
    font-size: 50px;
    line-height: 60px;
  }

}

@media( max-width: 768px ) {
  #stage h1 {
    border: none;
  }

  #stage h1 {
    padding: 0;
  }

  #header[data-theme='light'] ~ #stage h1 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  #header[data-theme='light'] ~ #stage a {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
  }

}

@media( max-width: 640px ) {
  #stage h1 {
    font-size: 30px;
    line-height: 40px;
  }

}

#stage {
  color: #ffffff;
}

.tags li {
  display: inline-block;
}

.tags li:before {
  position: static;
}

.tags li:after {
  content: ",";
}

.tags li:last-child:after {
  display: none;
}

#header[data-theme='light'] ~ #stage {
  color: #000000;
}

#header[data-theme='light'] ~ #stage li {
  font-style: normal;
  font-size: 23px;
}


@media( max-width:768px ) {

  #header[data-theme='light'] ~ #stage li  {
    font-size: 16px;
    padding-right: 0;
  }

}

#at-blog #header[data-theme='light'] ~ #stage {
  background-color: #ffffff;
}
#at-blog #header[data-theme='light'] ~ #stage:before {
  background-image: none;
}

/* UTILITY NAVIGATION */

#utilities {
  position: absolute;
  left: 0;
  background-color: rgba(247, 156, 49, 0.95);
  transition: left 0.5s ease-in-out;
  width: 100%;
}

#utilities:after {
  content: " ";
  display: table;
  clear: both;
}

#utilities nav {
  background-color: #2d2d2d;
}

@media( max-width: 1280px ) {

  #utilities nav .lock {
    width: 100%;
    padding: 0 25px;
  }

}

@media( max-width: 960px ) {

  #utilities nav .lock {
    padding: 0;
  }

}

#utilities nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

@media( max-width: 480px ) {
  #utilities nav ul {
    height: 50px;
  }
}

#utilities nav li {
  width: 100%;
  border-right: 2px dashed #48494A;
  text-align: center;
  margin-bottom: 0;
}

#utilities nav li:last-child {
  border: none;
}

#utilities nav a {
  color: #ffffff;
}

#utilities nav span {
  cursor: pointer;
}

#utilities nav span[data-state='open'] {
  color: #F79C31;

}

#utilities nav span[data-state='open']:before {
  content: "Close";
}

#utilities nav span[data-utility-nav='filter-overlay'][data-state='closed']:before {
  content: "Filter";
}

#utilities nav span[data-utility-nav='search-overlay'][data-state='closed']:before {
  content: "Search";
}

#utilities nav span[data-utility-nav='subscribe-overlay'][data-state='closed']:before {
  content: "Subscribe";
}

#utilities nav span:hover {
  text-decoration: underline;
}

#utilities nav a,
#utilities nav span {
  width: 100%;
  display: block;
  line-height: 60px;
}

@media( max-width: 960px ) {

  #utilities nav span,
  #utilities nav a
  {
    color: transparent;
    z-index: 999;
    line-height: 50px;
  }

  #utilities nav li.subscribe span {
    color: #ffffff;
  }

  #utilities nav span[data-state='open']:before {
    display: none;
  }

  #utilities li.subscribe span:before {
    display: inline-block;
  }

  #utilities li.subscribe:hover span:before {
    text-decoration: underline;
  }

  #utilities li.subscribe:hover span:before {
    text-decoration: underline;
  }

  #utilities li.subscribe span[data-state='open'] {
    color: #F79C31;
  }

}


@media( max-width: 640px ) {

  #utilities nav li {
    width: calc(100% / 6);
  }

  #utilities nav li.subscribe {
    width: 34%;
  }

}

/* UTILITY OVERLAYS */

#utilities button {
  border: 1px solid #000;
  min-width: 135px;
}

#utilities section[id*="overlay"][data-state="closed"] {
  display: none;
}

#utilities section[id*="overlay"][data-state="open"] {
  display: block;
}


#utilities h1 {
  margin-top: 60px;
  font-size: 75px;
  margin-bottom: 30px;
}

@media ( max-width: 1024px ) {

  #utilities h1 {
    font-size: 50px;
  }

}

@media ( max-width: 640px ) {

  #utilities h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }

}

#utilities form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

@media( max-width: 640px ) {

  #utilities form {
    display: block;
    padding-bottom: 85px;
  }

}

#utilities form [class*='col'] {
  width: 100%;
  position: relative;
}

#utilities button[data-utility-close] {
  border: none;
  float: right;
  background-color: transparent;
  line-height: 42px;
  min-width: auto;
  cursor: pointer;
  padding-right: 32px;
}

@media( max-width: 640px ) {

  #utilities button[data-utility-close] {
    margin-top: -14px;
  }

}

#utilities button[data-utility-close] span {
  width: none;
}

#utilities button[data-utility-close] span:after {
  content: "+";
  position: absolute;
  padding-left: 18px;
  font-size: 42px;
  line-height: 42px;
  font-weight: 200;
  transform: rotate(45deg);
  margin-top: -9px;
}

#utilities [class*='col'] button:first-child {
  margin-right: 20px;
}

#utilities label {
  font-size: 16px;
  line-height: 56px;
  vertical-align: top;
  font-family: system-ui;
  margin-bottom: 0;
}

#utilities input,
#utilities select {
  border: none;
  border-radius: 0;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  margin-bottom: none;
  -webkit-appearance: none;
  padding: 0 20px;
  vertical-align: top;
}

#utilities label {
  min-width: 100px;
}

#utilities .col.select select {
  width: calc( 90% - 110px ) !important;
}

#utilities select + .arrow {
  content: "";
  background-image: url( ../images/icons/triangle.svg );
  position: absolute;
  float: right;
  height: 30px;
  width: 13px;
  background-size: cover;
  background-position: center center;
  right: 16%;
  top: 12px;
  z-index: 2;
  background-color: #ffffff;
}

#utilities option {
  border-radius: 0;
  padding: 50px;
}

#utilities input {
  width: 100%;
}


#utilities #blog-filter .col:last-child {
  max-width: 380px;
}

@media( max-width: 1280px ) {

  #utilities form#blog-filter  {
    display: block;
  }

  #utilities #blog-filter label {
    width: calc(12% - 5px);
    min-width: 0;
  }

  #utilities #blog-filter .col {
    display: inline-block;
  }

  #utilities #blog-filter button {
    width: calc(50% - 10px);
    float: left;
  }

  #utilities #blog-filter .col.select select {
    width: 88% !important;
    margin-bottom: 25px;
  }

  #utilities .col:nth-last-child(2) {
    margin-bottom: 30px;
  }

  #utilities select + .arrow {
    right: 25px;
  }

}

@media( max-width: 880px ) {

  #utilities #blog-filter label {
    width: calc(15% - 5px);
  }

  #utilities #blog-filter .col.select select {
    width: 85% !important;
  }

}

@media( max-width: 640px ) {

  #utilities #blog-filter label,
  #utilities #blog-filter .col.select select  {
    width: 100% !important;
  }

  #utilities select + .arrow {
    top: 68px;
  }

}

#utilities #blog-search .col:first-child,
#utilities #blog-subscribe .col:first-child {
  width: calc( 100% - 140px);
}

#utilities #blog-search .col:last-child,
#utilities #blog-subscribe .col:last-child {
  width: 135px;
}

#utilities #blog-search .col:first-child {
  margin-right: 50px;
}

@media ( max-width: 1440px ) {

  #utilities #blog-filter .col:last-child {
    max-width: 300px;
  }

}

#utilities #blog-subscribe [class*='col'] button {
  margin-right: 0;
}

#utilities #blog-subscribe input {
  width: calc( (100% / 3) - 28px );
  float: left;
  margin-right: 20px;
}

@media( max-width: 960px ) {

  #utilities form#blog-subscribe {
    display: block;
  }

  .row-md {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .row-md:after {
    content:" ";
    display:table;
    clear:both;
  }

  #utilities #blog-subscribe input {
    float: none;
  }

  #utilities #blog-subscribe .row-md input:last-child {
    margin-right: 0;
  }

  #utilities #blog-subscribe .col:first-child {
      width: 100%;
  }

  #utilities #blog-subscribe input {
    width: 100%;
    margin-bottom: 25px;
  }

}

@media( max-width: 640px ) {

  #utilities #blog-search .col:first-child {
      width: 100%;
      margin-bottom: 55px;
  }

  .row-md {
    display: block;
  }

}


/* FOOTER */

.footer-container-wrapper {
  background-color: #2d2d2d;
  color: #fff;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.footer-container-wrapper .columns {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

@media( max-width: 960px ) {

  .footer-container-wrapper .columns {
    display: block;
    padding: 30px 0;
  }

}

.footer-container-wrapper .columns .col {
  width: 100%;
}

.footer-container-wrapper .columns .col:nth-child(2),
.footer-container-wrapper .columns .col:nth-child(3) {
  padding-top:5px;
  padding-left: 6%;
}

@media( max-width: 1100px ) {

  .footer-container-wrapper .columns .col {
    width: 100%;
  }

  .copyright span {
    position: absolute;
    padding-left: 6px;
  }

}

@media( max-width: 960px ) {

  .footer-container-wrapper .columns .col {
    margin-bottom: 20px;
  }

  .footer-container-wrapper .columns .col:last-child {
    margin-bottom: 0px;
  }

  .footer-container-wrapper .columns .col:nth-child(2),
  .footer-container-wrapper .columns .col:nth-child(3) {
    padding-top: 0px;
    padding-left: 0px;
  }

}

.footer-container-wrapper .logo {
  background-image: url( ../images/at-logo-light.png );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 120px;
  height: 23px;
  display: block;
  margin-bottom: 8px;
}

.copyright {
  font-size: 13px;
  line-height: 13px;
}

.copyright a {
  display: inline-block;
}

.copyright a:first-child {
  padding-right: 5px;
  border-right: 1px solid #fff;
}

.copyright a:last-child {
  padding-left: 3px;
}


address {
  font-style: normal;
}

.phone,
.email {
  color: #fff;
}

.footer-container-wrapper a[class*="icon-soc"] {
  margin-top: 8px;
  float: left;
}

@media( max-width: 960px ) {

  .footer-container-wrapper a[class*="icon-soc"] {
    float: none;
  }

}

/* BODY */

.body-container-wrapper {
  background-color: #ffffff;
}


/* BLOG LANDING PAGE */

#posts {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  color: #000;
}

.home-page .post {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 100px;
}

.home-page .post:nth-child(odd) {
  margin-right: 20px;
}

.home-page .post:nth-child(8n - 7),
.home-page .post:nth-child(8n - 6),
.home-page .post:nth-child(8n - 3),
.home-page .post:nth-child(8n - 2)  {
  width: calc(50% - 10px);
}

.home-page .post:nth-child(8n),
.home-page .post:nth-child(8n - 5) {
  width: calc(25% - 10px);
}

.home-page .post:nth-child(8n - 4),
.home-page .post:nth-child(8n - 1) {
  width: calc(75% - 10px);
}

.home-page .post {
  text-align: center;
  height: 350px;
  position: relative;
}

.home-page .post .text-wrap {
  height: 125px;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #efefef;
  bottom: 0;
  padding: 20px 2.5%;
}

.post ul.tags  {
  padding-left: 0;
  margin-bottom: 0;
}

.post .tags li {
  padding-left: 3px;
  margin-bottom: 0px;
  font-size: 15px;
}

.post h1 {
  font-size: 19px;
}


/*  BLOG LISTING PAGE */

.blog-list
